<form class="align" action="http://localhost/connect/pirai.php">
    <div class="form-group">
        <label >Firstname:</label>
        <input type="text" placeholder="Enter Firstname" name="first">
        <label>Lastname:</label>
        <input type="text" placeholder="Enter Lastname" name="last">
        <label>Mobile:</label>
        <input type="number" placeholder="Enter Mobile Number" name="mob">
        <label >Address:</label>
        <input type="text" placeholder="Enter Address" name="add">
        <label >City:</label>
        <input type="text" placeholder="Enter City" name="city">
        <label >State:</label>
        <input type="text" placeholder="Enter State" name="state">
        <label >Country:</label>
        <input type="text" placeholder="Enter Country" name="coun">
    </div>
    <button class="btn"><a style="text-decoration: none; color:black" routerLink="reg">Submit</a></button>
</form>
<router-outlet></router-outlet>
<footer></footer>